@media (max-width: 770px){
    section#main-page {
        width: 100%;
        height: 50vw;
        position: relative;
        padding: 0 0 190px;
        background: url(picture/black.jpg) no-repeat;
        background-size: 100%;
    }
}

/*@media (max-width: 770px){
    .wrap {
        min-width: 100%;
        max-width: 100%;
    }
}需除錯:縮小至一定程度網頁無法運行*/

@media (max-width: 770px){
    section#main-page ul.nav {
        width: 690px;
        margin: 0;
        bottom: 0;
    }
}

@media (max-width: 770px){
    section#main-page ul.nav li {
        width: 340px;
        margin: 0 0 10px;
    }
}

@media (max-width: 770px){
    section#main-page ul.nav li:nth-of-type(odd) {
        margin: 0 10px 10px 0;
    }
}


@media (max-width: 770px){
    section#main-page ul.nav li a {
        height: 50px;
        line-height: 50px;
    }
}